doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style. 
            h1{
                background-color: red; 
                color:white;
            }
            p{
                font-family:cursive;
            }
    body 
        h1 Student information
        p Student ID: !{student.id} 
        p Name: #{student.name} 
        p Department name: #{student.dept_name} 
        p Total credit: #{student.tot_credit}